@page "/lab/inference-demo"

@using System.ComponentModel.DataAnnotations;
@using SCFirstOrderLogic;
@using SCFirstOrderLogic.ClauseIndexing.Features
@using SCFirstOrderLogic.ExampleDomains.FromAIaMA.Chapter9.UsingSentenceParser;
@using SCFirstOrderLogic.SentenceCreation
@using SCFirstOrderLogic.Inference;
@using SCFirstOrderLogic.Inference.Basic.BackwardChaining;
@using SCFirstOrderLogic.Inference.Basic.ForwardChaining;
@using SCFirstOrderLogic.Inference.Basic.Resolution;

<PageTitle>Lab - Inference Demo</PageTitle>

<h3>
    Lab - Inference Demo
    <Button Clicked="@(() => explanationModal!.Show())" Size="Size.Small" Color="Color.Primary"><Icon Name="@("bi-info-circle")"></Icon></Button>
</h3>

<Modal @ref="explanationModal">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Lab Explanation</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <p>
                This page is an interactive demonstration of inference with SCFirstOrderLogic that runs in your browser. Note that:
            </p>
            <ul>
                <li>
                    The knowledge base implementations offered here - which reside in the SCFirstOrderLogic.Inference.Basic package - are very basic, to the extent that it is very easy to create queries that they will struggle with.
                    The goal of this package is learning and experimentation more than anything else.
                    I am intending (assuming no one else beats me to it) to create some better KB implementations at some point.
                </li>
                <li>Use the buttons at the top of the form to populate it with example queries, taken from "Artificial Intelligence: A Modern Approach".</li>
                <li>Guidance for writing sentences as strings can be found on the "getting started" page.</li>
                <li>
                    The source code for this page can be found <a href="https://github.com/sdcondon/SCFirstOrderLogic/blob/main/src/SCFirstOrderLogic.Documentation/Razor/Pages/lab/InferenceDemo.razor">here</a>.
                </li>
            </ul>
        </ModalBody>
    </ModalContent>
</Modal>

<EditForm EditContext="editContext" OnValidSubmit="HandleValidFormSubmission" style="font-family: monospace">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Presets</label>
        <div>
            @foreach (var kvp in Presets)
            {
                <button type="button" @onclick="@(() => formData = kvp.Value.Invoke())">@kvp.Key</button>
                @(" ")
            }
        </div>
    </div>
    <div class="form-group">
        <label for="kbTypeSelect">Knowledge Base Type</label>
        <InputSelect class="form-control" id="kbTypeSelect" @bind-Value=formData.KnowledgeBaseDescription>
            @foreach (var key in KnowledgeBaseOptions.Keys)
            {
                <option>@key</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="factsTextArea">Knowledge</label>
        <InputTextArea class="form-control" id="factsTextArea" spellcheck="false" @bind-Value=formData.Knowledge rows="8" />
        <ValidationMessage For="@(() => formData.Knowledge)" />
    </div>
    <div class="form-group">
        <label for="queryText">Query</label>
        <InputText class="form-control" id="queryText" spellcheck="false" @bind-Value=formData.Query />
        <ValidationMessage For="() => formData.Query" />
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary" disabled="@(currentQueryExecution != null && !currentQueryExecution.IsCompleted)">Submit</button>
    </div>
</EditForm>

@if (currentQueryExecution != null)
{
    if (currentQueryExecution.IsCompletedSuccessfully)
    {
        <div class="alert alert-success mt-4" role="alert">
            <h3>Query Complete</h3>
            <p><pre>Query result: @currentQuery!.Result</pre></p>

            @if (currentQuery!.Result)
            {
                var details = currentQuery! switch
                {
                    BackwardChainingQuery bcq => bcq.ResultExplanation,
                    ForwardChainingQuery fcq => fcq.ResultExplanation,
                    ResolutionQuery rq => rq.ResultExplanation,
                    _ => "?"
                };

                <p><pre>@details</pre></p>
            }
        </div>
    }
    else if (currentQueryExecution.IsCanceled)
    {
        <div class="alert alert-warning mt-4" role="alert">
            <h3>Query Cancelled</h3>
        </div>
    }
    else if (currentQueryExecution.IsFaulted)
    {
        <div class="alert alert-danger mt-4" role="alert">
            <h3>Query Failed</h3>
            <p>
                Here are the details of the exception that was thrown:
            </p>
            @foreach (var e in currentQueryExecution.Exception!.InnerExceptions)
            {
                <p><pre>@(e.ToString())</pre></p>
            }
        </div>
    }
    else
    {
        <div class="alert alert-primary mt-4" role="alert">
            <h3>Query In Progress</h3>
            <p>
                If you see this for more than a few seconds, the chances are you've fashioned a query that the current KB implementation can't deal with.
                Click the "Cancel Query" button to abort.
            </p>
            <p>
                <button type="button" class="btn btn-secondary" @onclick=@(() => currentQueryCancellation?.Cancel())>Cancel Query</button>
            </p>
        </div>
    }
}

@code {
    private static Dictionary<string, Func<IKnowledgeBase>> KnowledgeBaseOptions = new()
    {
        ["Basic Backward Chaining"] = () => new BackwardChainingKnowledgeBase(
            new BlazorWasmBCClauseStore()),

        ["Basic Forward Chaining"] = () => new ForwardChainingKnowledgeBase(
            new BlazorWasmFCClauseStore()),

        ["Resolution (Basic, Unit Preference)"] = () => new ResolutionKnowledgeBase(new DelegateResolutionStrategy(
            new BlazorWasmResClauseStore(),
            ClauseResolutionFilters.None,
            ClauseResolutionPriorityComparisons.UnitPreference)),

        ["Resolution (Linear, Feature Vector Index Clause Storage)"] = () => new ResolutionKnowledgeBase(new LinearResolutionStrategy(
            new BlazorWasmFVIResClauseStore<MaxDepthFeature>(
                MaxDepthFeature.MakeFeatureVector,
                new ClauseStoreFVIListNode<MaxDepthFeature>(MaxDepthFeature.MakeFeatureComparer())),
            ClauseResolutionPriorityComparisons.UnitPreference)),
    };

    private static Dictionary<string, Func<FormData>> Presets = new()
    {
        ["[Empty]"] = () => new(
            knowledgeBaseDescription: "Resolution (Linear, Feature Vector Index Clause Storage)",
            knowledge: string.Empty,
            query: string.Empty),

        ["Crime"] = () => new(
            knowledgeBaseDescription: "Basic Backward Chaining",
            knowledge: string.Join(Environment.NewLine, CrimeDomain.UnparsedAxioms),
            query: CrimeDomain.UnparsedExampleQuery),

        ["Curiousity and the Cat"] = () => new(
            knowledgeBaseDescription: "Resolution (Linear, Feature Vector Index Clause Storage)",
            knowledge: string.Join(Environment.NewLine, CuriousityAndTheCatDomain.UnparsedAxioms),
            query: CuriousityAndTheCatDomain.UnparsedExampleQuery),
    };

    private CancellationTokenSource? currentQueryCancellation;
    private IQuery? currentQuery;
    private Task? currentQueryExecution;

    private Modal? explanationModal;
    private FormData formData;
    private EditContext editContext;
    private ValidationMessageStore validationMessageStore;

    public InferenceDemo()
    {
        formData = Presets["Crime"].Invoke();
        editContext = new(formData);
        editContext.OnValidationRequested += HandleValidationRequest;
        validationMessageStore = new(editContext);
    }

    private void HandleValidationRequest(object? sender, ValidationRequestedEventArgs args)
    {
        validationMessageStore.Clear();
        editContext.Properties.Remove(nameof(formData.Knowledge));
        editContext.Properties.Remove(nameof(formData.Query));

        if (!SentenceParser.Default.TryParseList(formData.Knowledge, out var knowledge, out var errors))
        {
            foreach (var error in errors)
            {
                validationMessageStore.Add(() => formData.Knowledge, error.ToString());
            }
        }

        if (!SentenceParser.Default.TryParse(formData.Query, out var query, out errors))
        {
            foreach (var error in errors)
            {
                validationMessageStore.Add(() => formData.Query, error.ToString());
            }
        }

        if (!validationMessageStore[() => formData.Knowledge].Any() && !validationMessageStore[() => formData.Query].Any())
        {
            editContext.Properties[nameof(formData.Knowledge)] = knowledge!;
            editContext.Properties[nameof(formData.Query)] = query!;
        }
    }

    private async Task HandleValidFormSubmission(EditContext editContext)
    {
        try
        {
            currentQueryCancellation = new CancellationTokenSource();

            // Instantiate knowledge base and tell it all the knowledge.
            var knowledgeBase = KnowledgeBaseOptions[formData.KnowledgeBaseDescription].Invoke();
            await knowledgeBase.TellAsync((Sentence[])editContext.Properties[nameof(formData.Knowledge)], currentQueryCancellation.Token);

            // Create and begin new query
            currentQuery = await knowledgeBase.CreateQueryAsync((Sentence)editContext.Properties[nameof(formData.Query)], currentQueryCancellation.Token);
            currentQueryExecution = currentQuery.ExecuteAsync(currentQueryCancellation.Token);

            // Re-render to disable submit button
            await InvokeAsync(StateHasChanged);

            // Await query completion, then re-render to re-enable the submit button.    
            await currentQueryExecution;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            // yes, this is a little ugly. hoping to be able to refactor this into
            // a single task with some continuewiths (though the inline if-else on
            // task state will likely need to change a little, too).
            if (e is not TaskCanceledException)
            {
                currentQueryExecution = Task.FromException(e);
            }
        }
    }

    private class FormData(string knowledgeBaseDescription, string knowledge, string query)
    {
        public string KnowledgeBaseDescription { get; set; } = knowledgeBaseDescription;
        public string Knowledge { get; set; } = knowledge;
        public string Query { get; set; } = query;
    }
}